@use "global" as *;

.top-price {
    padding-top: 82px;
    padding-bottom: 80px;
    // width: 100%;
    // padding-right: auto;
    // padding-left: auto;

    @include mq(md) {
        padding-top: 100px;
        padding-bottom: 94px
    }
}