@use "global" as *;

.top-contact {
    margin-top: rem(82);

    @include mq(md) {
        margin-top: rem(139);
    }
}

.top-contact.top-page-voice-contact {
    margin-top: 113px;

    @include mq(md) {
        margin-top: 145px;
    }
}

.top-contact.top-page-campaign-contact {
    margin-top: 113px;

    @include mq(md) {
        margin-top: 145px;
    }
}

.top-contact.top-page-about-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 138px;
    }
}

.top-contact.top-page-policy-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 138px;
    }
}
.top-contact.top-page-terms-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 138px;
    }
}

.top-contact.top-page-faq-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 141px;
    }
}

.top-contact.top-page-sitemap-contact {
    margin-top: 87px;

    @include mq(md) {
        margin-top: 125px;
    }
}

.top-contact.top-page-price-contact {
    margin-top: 104px;

    @include mq(md) {
        margin-top: 138px;
    }
}

.top-contact.top-page-information-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 138px;
    }
}

.top-contact.top-page-blog-contact {
    margin-top: 113px;

    @include mq(md) {
        margin-top: 145px;
    }
}

.top-contact.top-page-blogDetail-contact {
    margin-top: 107px;

    @include mq(md) {
        margin-top: 139px;
    }
}