@use "global" as *;

.top-service {
    margin-top: 40px;
    margin-bottom: 84px;
    // width: 100%;
    // margin-right: auto;
    // margin-left: auto;

    @include mq(md) {
        margin-top: 120px;
        margin-bottom: 140px
    }
}