@use "global" as *;

.top-voice {
    padding-top: rem(80);
    padding-bottom: rem(80);
    // width: 100%;
    // padding-right: auto;
    // padding-left: auto;

    @include mq(md) {
        padding-top: 144px;
        padding-bottom: rem(141);
    }
}