@use "global" as *;
//voiceページ
.top-pagenavi {
    margin-top: 86px;

    @include mq("md") {
        margin-top: 81px;
    }
}

//campaignページ
.top-pagenavi.top-pagenavi--page-campaign {

    @include mq("md") {
        margin-top: 86px;
    }

}

//blogページ
.top-pagenavi.top-pagenavi--page-blog {

    @include mq("md") {
        margin-top: 86px;
    }

}

//blogDetailページ
.top-pagenavi.top-pagenavi--page-blogDetail {
    margin-top: 46px;

    @include mq("md") {
        margin-top: 85px;
    }
}