@use "global" as *;

.top-service {
    padding-top: 40px;
    padding-bottom: 84px;
    // width: 100%;
    // margin-right: auto;
    // margin-left: auto;

    @include mq(md) {
        padding-top: 120px;
        padding-bottom: 140px
    }
}