@use "global" as *;

.top-footer {
    background-color: $green2;
    margin-top: rem(105);
    padding-top: rem(48);
    padding-bottom: rem(56);

    @include mq(md) {
        margin-top: rem(127);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }

}

.top-footer.top-page-voice-footer {
    margin-top: 105px;

    @include mq("md") {
        margin-top: 159px;
    }

}

.top-footer.top-page-campaign-footer {
    margin-top: 105px;

    @include mq("md") {
        margin-top: 159px;
    }

}

.top-footer.top-page-information-footer {
    margin-top: 105px;

    @include mq("md") {
        margin-top: 159px;
    }

}

.top-footer.top-page-about-footer {
    margin-top: 105px;

    @include mq("md") {
        margin-top: 159px;
    }

}

.top-footer.top-page-contact-footer {
    margin-top: 148px;

    @include mq("md") {
        margin-top: 164px;
    }

}