@use "global" as *;

.top-contact {
    margin-top: rem(82);

    @include mq(md) {
        margin-top: rem(139);
    }
}

.top-contact.top-voice-contact {
    margin-top: 113px;

    @include mq(md) {
        margin-top: 145px;
    }
}

.top-contact.top-about-contact {
    margin-top: 106px;

    @include mq(md) {
        margin-top: 138px;
    }
}