@use "global" as *;
//voiceページ
.top-pagenavi {
    margin-top: rem(86);

    @include mq("md") {
        margin-top: rem(81);
    }
}

//campaignページ
.top-pagenavi.top-pagenavi--page-campaign {
    margin-top: rem(78);

    @include mq("md") {
        margin-top: rem(78);
    }

}

//blogページ
.top-pagenavi.top-pagenavi--page-blog {
    margin-top: rem(77);

    @include mq("md") {
        margin-top: rem(78);
    }

}

//blogDetailページ
.top-pagenavi.top-pagenavi--page-blogDetail {
    margin-top: rem(39);

    @include mq("md") {
        margin-top: rem(77);
    }
}