@use "global" as *;

.blog{

  @include mq("md") {
  
    // background-image: url(../images/common/bg-blog.jpg);
    // background-repeat: no-repeat;
    // background-size: contain;
    position: relative;
  }
}

  .blog__bg-img {
    display: none;

    @include mq("md") {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      height: 60.7%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: -1;
    }

  }

  .blog__bg-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }


  
  .blog__inner{
    max-width: 600px;

    @include mq("md") {
        max-width: inherit;
    }
    // margin-left: auto;
    // margin-right: auto;
    // padding-left: rem(21);
    // padding-right: rem(21);
    // width: 100%;

    // @include mq("md") {
    // max-width: rem(1130);
    // padding-left: rem(25);
    // padding-right: rem(25);
    // }
  }

  .blog__content {
    padding-right: 6px;
    padding-left: 6px;

    @include mq("md") {
      padding-right: 0px;
      padding-left: 0px;
      // margin-top: -300px;
    }
  }
  
  
  .blog__title{

    @include mq("md") {
      padding-top: 101px;
    }


}
  
  
  .blog__cards{
    display: grid;
    margin-top: rem(27);
  
    grid-template-columns: repeat(auto-fit,minmax( rem(301),1fr));
    column-gap: rem(35);
    row-gap: rem(39);
  
    @include mq("md") {
      margin-top: rem(81);
      row-gap: rem(30);
      column-gap: rem(39);
  }
  }
  
  .blog__card{
    
  }
  

  .blog__btn {
    margin-top: rem(40);
    text-align: center;
    
    @include mq("md") {
      margin-top: rem(79);
    }
}

.blog__img {
  display: none;

  @include mq("md") {
    display: block;
    content: "";
    position: absolute;
    top: 15%;
    left: 7%;
    transform: translateY(-50%);
    width: auto;
  }


}