@use "global" as *;

.blog{

  @include mq("md") {
    position: relative;
  }
}

  .blog__bg-img {
    display: none;

    @include mq("md") {
      display: block;
      position: absolute;
      content: "";
      top: 0;
      height: 60.2%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: -1;
    }

  }

  .blog__bg-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }


  
  .blog__inner{
    max-width: rem(600);

    @include mq("md") {
        max-width: inherit;
    }
  }

  .blog__content {
    padding-right: rem(6);
    padding-left: rem(6);

    @include mq("md") {
      padding-right: rem(0);
      padding-left: rem(0);
    }
  }
  
  
  .blog__title{

    @include mq("md") {
      padding-top: rem(101);
    }


}
  
  
  .blog__cards{
    display: grid;
    margin-top: rem(27);
    grid-template-columns: repeat(1,1fr);
    column-gap: rem(35);
    row-gap: rem(39);

    @include mq("md") {
      margin-top: rem(81);
      row-gap: rem(30);
      column-gap: rem(39);
      grid-template-columns: repeat(3,1fr);
    }
  }

  .blog__card{

  }
  

  .blog__btn {
    margin-top: rem(40);
    text-align: center;
    
    @include mq("md") {
      margin-top: rem(78);
    }
}

.blog__img {
  display: none;

  @include mq("md") {
    display: block;
    content: "";
    position: absolute;
    top: 15%;
    // left: 7%;
    transform: translateY(-50%);
    width: auto;
    left: calc(50% - min(48vw, rem(620)));
  }


}