@use "global" as *;

.blog{


  @include mq("md") {
    background-image: url(../images/common/bg-blog.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }


  }
  
  .blog__inner{
    margin-left: auto;
    margin-right: auto;
    padding-left: 21px;
    padding-right: 21px;
    width: 100%;

    @include mq("md") {
    max-width: 1130px;
    padding-left: 25px;
    padding-right: 25px;
    }
  }
  
  
  .blog__title{

}
  
  
  .blog__cards{
    display: grid;
    margin-top: 27px;
  
    grid-template-columns: repeat(auto-fit,minmax(301px,1fr));
    column-gap: 35px;
    row-gap: 39px;
  
    @include mq("md") {
      margin-top: 81px;
      row-gap: 30px;
      column-gap: 39px;
  }
  }
  
  .blog__card{
    
  }
  

  .blog__btn {
    margin-top: 40px;
    text-align: center;
    
    @include mq("md") {
      margin-top: 79px;
    }
}

.blog__img {

  @include mq("md") {
    content: "";
    position: absolute;
    top: 53%;
    left: 7%;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
  }


}