@use "global" as *;

.breadcrumb {
    padding: rem(8) 0;
    color: $green1;
    font-size: rem(14);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05em;
}

.breadcrumb.breadcrumb--404 {
    background-color: $green2;
    color: $white;
    padding-top: 88px;

    @include mq("md") {
        padding-top: 98px;
        
    }
}