@use "global" as *;

.btn {
  background: $green2;
  border:  1px solid $green2;
  color: #fff;
  display: block;
  font-weight: bold;
  max-width: rem(300);
  padding: rem(14) rem(25) rem(14) rem(25);
  text-align: center;
}


.btn.slide {
  background: $green2;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: rem(14) rem(87) rem(14) rem(37);

  color: $white;
  font-family: $english-family;
  font-size: rem(14);
  font-style: normal;
  font-weight: $regular;
  line-height: rem(22); /* 157.143% */
  cursor:pointer;

  @include mq("md") {
    padding: rem(14) rem(87) rem(14) rem(37);
  }
}

.btn.slide::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;

}


.btn.slide:hover {
  @include mq("md") {
    color: $green2;
  }

}

.btn.slide:hover::after {

  @include mq("md") {
    transform: scale(1, 1);
  }
}

//矢印表示
.btn.slide::before{
  content: "";
  display: block;
  position: absolute;
  top: calc(50% -  rem(2));
  right: rem(40);
  width: rem(40);
  height: rem(5);
  border: none;
  border-right:  rem(2) solid #FFF;
  border-bottom:  rem(1) solid #FFF;
  transform: skew(53deg);
  transition: .3s;

  @include mq("md") {
      right: rem(42);
      width: rem(41);
      top: calc(50% -  rem(4));
  }
}

.btn.slide:hover::before {
  
  @include mq("md") {
    border-right:  rem(2) solid $green2;
    border-bottom:  rem(1) solid $green2;
  }

}


.btn-line {
    max-width: rem(300);
    margin: auto;
    position: relative;
    display: inline-block;
}


.btn-line:before {
  border:  1px solid $green2;
  content: "";
  width: 100%;
  // z-index: -1;
  position: absolute;
  height: 90%;
  top: rem(4);
  left: rem(3);
}

