@use "global" as *;

.campaign {
    overflow-x: hidden;
    padding-bottom: rem(10);
}

.campaign__inner {
    margin: auto;
    padding: 0 rem(20) 0 rem(15);
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        padding: 0 rem(25) 0 rem(25);
        max-width: rem(1200);

        position: relative;
    }
}

.campaign__swiper {
    margin-right: calc(50% - 50vw);
    width: 100vw;
}

.campaign__btn {
    text-align: center;
    margin-top: rem(30);

    @include mq("md") {
        margin-top: rem(71);
    }
}

