@use "global" as *;

.campaign-card {

}


.campaign-card a {
    height: 100%;
    display: block;
    flex-shrink: 0;
    background: var(--White, #FFF);
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
    
}

.campaign-card a:hover {
    opacity: 1;
}

.campaign-card__img {
    width: 100%;
    overflow: hidden;
}

.campaign-card__img img {
    width: 100%;
    aspect-ratio: 280/188;
    object-fit: cover;
    transition: .6s;
}

.campaign-card:hover .campaign-card__img img {
    transform: scale(1.2);
}

.campaign-card__body {
    padding: rem(12) rem(16) rem(24) rem(15);

    @include mq("md") {
        padding: rem(24) rem(16) rem(36) rem(16);
    }
}

.campaign-card__tag {
    display: inline-flex;
    padding: rem(4) rem(12);
    align-items: flex-start;
    gap: rem(8);
    border: rem(1) solid $green2;
    color: $green2;
    font-size: rem(12);
    font-style: normal;
    font-weight: $regular;
    line-height: rem(22); /* 183.333% */

    @include mq(md){
        padding: rem(6) rem(16);
    }
}

.campaign-card__title {
    color: $green1;
    font-size: rem(16);
    font-style: normal;
    font-weight: $medium;
    line-height: rem(24); /* 150% */

    margin-top: rem(4);

    @include mq("md") {
        margin-top: rem(3);
    }
}



hr.campaign-card__line {
    border-color: $green2;
    margin: rem(6) 0;
}

.campaign-card__text {
    color: $green1;
    font-size: rem(14);
    font-style: normal;
    font-weight: $regular;
    line-height: rem(24); /* 171.429% */

    text-align: center;
    margin-top: rem(7);

    @include mq(md){
       font-size: rem(16);
       margin-top: rem(16);
    }
}

.campaign-card__price {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq("md") {
        margin-top: rem(6);
    }
}

.campaign-card__price-before {
    text-decoration: line-through;
    text-decoration-color: $red;
    text-decoration-thickness: rem(3);
    // width: 50%;
    text-align: center;

    color: $green1;
    font-family:$mv-english-family;
    font-size: rem(20);
    font-style: normal;
    font-weight: $bold;
    line-height: rem(20); /* 100% */

    margin-top: rem(18);

    @include mq(md){
        font-size: min(1.7vw, rem(24));
        line-height: rem(24); /* 100% */
        // margin-top: rem(22);
        margin-top: inherit;
    }
}

.campaign-card__price-discount {
    color: $green2;
    font-family: $mv-english-family;
    font-size: rem(32);
    font-style: normal;
    font-weight: $bold;
    line-height: rem(32); /* 100% */

    margin-top: rem(8);
    margin-left: rem(16);

    @include mq(md){
        font-size: min(2.8vw, rem(40));
        line-height: rem(40); /* 100% */
        margin-left: rem(27);
        margin-top: inherit;
    }
}
