@use "global" as *;

.contact {
    position: relative;

}

.top-contact {

}

.contact__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;

    @include mq("md") {
        max-width: 1130px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.contact__content {
    @include mq("md") {
        display: flex;
        padding: 53px 20px 74px 50px;
        width: 100%;
        max-width: 1080px;
        // height: 415px;
        flex-shrink: 0;;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.contact__left {
    @include mq("md") {
        width: 44%;
        // margin-right: 24px;
    }
}


.contact__imgTop {
    margin-top: 28px;
    width: 174px;
    margin-right: auto;
    margin-left: auto;

    @include mq("md") {
      width: 200px;
    }
}

.contact__imgSecond {
    display: block;
    content: "";
    position: absolute;
    top: 10.5%;
    right: 4.4%;
    transform: translateY(-50%);
    width: 109px;
    height: auto;

    @include mq("md") {
        display: block;
        content: "";
        position: absolute;
        right: 3.5%;
        top: 27%;
        transform: translateY(-50%);
        width: 301px;
        height: auto;
    }
}

hr.contact__line {
    border-color: $green2;
    margin: 5px 0px 0px 0px;
}

.contact__address-content {
    @include mq("md") {
        display: flex;
        margin-top: 24px;
    }
}

.contact__info {
    text-align: center;
    margin-top: 16px;

    color: $green1;
    font-size: 16px;
    font-style: normal;
    font-weight: $regular;
    line-height: 24px; /* 150% */

    @include mq("md") {
        margin-top: 0;
        text-align-last: left;
        width: 33%;
    }

}

.contact__address {

}

.contact__tel {
    margin-top: 3px;

}

.contact__time {
    margin-top: 4px;
}

.contact__holiday {
    margin-top: 4px;
}

.contact__map {
    aspect-ratio: 295 / 160;
    margin-top: 16px;

    @include mq("md") {
        margin-top: 0px;
        aspect-ratio: 273 / 148;
        margin-left: 21px;
        width: 61%;
    }
}

.contact__map iframe {
    width: 100%;
    height: 100%;
}

// .contact__center-line {
//     border-left: 1px solid $green2; ;
//     width: 10%;
// }

.contact__right {
    @include mq("md") {
        border-left: 1px solid $green2;
        margin-left: 78px;
        width: 47%;
    }

}


.contact__title {
    margin-top: 40px;
}


.contact__btn {
    margin-top: 40px;
    text-align: center;
    
    @include mq("md") {
      margin-top: 40px;
    }
}

















