@use "global" as *;


.footer {
    background-color: $green2;
    margin-top: rem(52);
    padding-top: rem(48);
    padding-bottom: rem(56);

    @include mq(md) {
        margin-top: rem(33);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__inner {
    //p-header（親要素）の高さを継承する

    @include mq(md) {
        height: inherit;
        align-items: center;
        justify-content: space-between;
    	padding-left: rem(180);
        padding-right: rem(180);
    }
}

.footer__icon {
    
    @include mq("md") {
        display: flex;
    }

}

.footer__copyright {
    text-align: center;
    text-align: center;
    margin: 20px 0 0 5px;

    color: $white;
    font-family: $english-family;
    font-size: 12px;
    font-style: normal;
    font-weight: $regular;
    line-height: 18px; /* 150% */

    @include mq(md) {
        font-size: 11px;
        line-height: 4px;
        margin-left: 5px;
        margin-top: 73px;
        margin: 35px 0 0 5px;
    }
}