@use "global" as *;

.footer-nav {
    height: inherit;
    margin-top: rem(-13);

    @include mq(md) {

    }
}

.footer-nav__contents {
    display: flex;
    justify-content: space-around;
    margin-left: rem(5);

    @include mq("md") {
    justify-content: inherit;
    margin-left: inherit;
    }
}

.footer-nav__content {

    @include mq("md") {
        display: flex;
    }
}

.footer-nav__item {

  }

.footer-nav__items-column {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(120);
    margin-left: rem(22);
    }
  }
  .footer-nav__items-column.footer-nav__items-column--end {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(0);
    }
  }
  


.footer-nav__item a {
    //クリック領域を大きくとる（横に広げる）→   display: block;か　inline-block;にする
    display: inline-block;
    width: 100%;
    margin-top: rem(0);
    padding-top: rem(38);
    text-align: left;

    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: 700;
    line-height: rem(18); /* 112.5% */

    position: relative;

    @include mq("md") {
        padding-top: rem(40);
    }

}

.footer-nav__item a::before{
    position: absolute;
    content: "";
    top: rem(47);
    left: rem(-22);
    width: rem(18);
    height: rem(18);
    transform: translateY(-50%);
    background: url(../images/common/icon-hitode.svg) no-repeat center center/contain;

}


.footer-nav__item-child {
    padding-top: rem(23);
    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: rem(18); /* 112.5% */

    @include mq("md") {
        padding-top: rem(22);
    }
}
