@use "global" as *;

.footer-nav {
    height: inherit;
    margin-top: rem(-13);

    @include mq(md) {

    }
}

.footer-nav__contents {
    display: flex;
    justify-content: space-around;
    margin-left: 6px;
    margin-top: 26px;

    @include mq("md") {
    justify-content: inherit;
    margin-left: inherit;
    margin-top: 19px;
    }
}

.footer-nav__content {

    @include mq("md") {
        display: flex;
    }
}

.footer-nav__item {

  }

.footer-nav__items-column {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(120);
    margin-left: rem(22);
    }
  }
  .footer-nav__items-column.footer-nav__items-column--end {
    list-style-type: none;

    @include mq("md") {
    width: inherit;
    margin-right: rem(0);
    }
  }
  


.footer-nav__item a {
    //クリック領域を大きくとる（横に広げる）→   display: block;か　inline-block;にする
    display: inline-block;
    width: 100%;
    margin-top: rem(0);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;

    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: 700;
    line-height: rem(18); /* 112.5% */
    margin-top: 12px;

    position: relative;

    @include mq("md") {
        transition: .5s ;   
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0;
    }

}

.footer-nav__item .footer-nav__item-child a {
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: $regular;
    margin-top: 0;
}

.footer-nav__item a:hover,
.footer-nav__item-child a:hover  {
    opacity: .5;
}

.footer-nav__item span a::before{
    position: absolute;
    content: "";
    top: 26px;
    left: rem(-22);
    width: rem(18);
    height: rem(18);
    transform: translateY(-50%);
    background: url(../images/common/icon-hitode.svg) no-repeat center center/contain;

    @include mq("md") {
        top: 31px;
    }

}


.footer-nav__item-child {
    color: $white;
    font-size: rem(16);
    font-style: normal;
    font-weight: $regular;
    line-height: rem(18); /* 112.5% */


    @include mq("md") {
        transition: .5s ;   
    }
}
