@use "global" as *;


.footer {
    background-color: $green2;
    margin-top: rem(52);
    padding-top: rem(48);
    padding-bottom: rem(56);

    @include mq(md) {
        margin-top: rem(33);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__inner {
    //p-header（親要素）の高さを継承する

    @include mq(md) {
        height: inherit;
        align-items: center;
        justify-content: space-between;
    	padding-left: rem(180);
        padding-right: rem(180);
    }
}

.footer__icon {
    
    @include mq("md") {
        display: flex;
    }

}

.footer__copyright {
    text-align: center;
    text-align: center;
    margin: rem(25) 0 0  rem(5);

    color: $white;
    font-family: $english-family;
    font-size: rem(12);
    font-style: normal;
    font-weight: $regular;
    // line-height: rem(18); /* 150% *
    line-height:1;

    @include mq(md) {
        font-size: rem(11);
        // line-height: rem(4);
        margin-left: rem(5);
        margin-top: rem(67);
        margin: rem(35) 0 0 rem(5);
    }
}