@use "global" as *;

.form__wrap {
    border-bottom: 2px dotted $green2;
    padding-bottom: 24px;
    @include mq(md){
        display: flex;
        // align-items: center;
        border-bottom: 2px dotted $green2;
        padding-bottom: 40px;
    }
}

.form__wrap.form__wrap--textarea {
    @include mq(md){
        align-items: flex-start;
    }
}

.form__wrap + .form__wrap {
    margin-top: 21px;

    @include mq("md") {
        margin-top: 36.5px;
    }
}

.form__wrap:nth-child(4) {
    padding-bottom: 24px;

    @include mq("md") {
        padding-bottom: 38px;
    }
}

.form__wrap:nth-child(5) {
    align-items: center;
    margin-top: 22px;

    @include mq("md") {
        margin-top: 34px;
    }
}

.form__wrap:nth-child(6) {
    padding-bottom: 19px;

    @include mq("md") {
        padding-bottom: 35px;
    }
}


.form__label {
    // line-height: 1;
    // letter-spacing: 0.08em;

    color: $green1;
    font-size: 16px;
    font-style: normal;
    font-weight: $bold;
    line-height: normal;
    @include mq(md){
        max-width: 220px;
        width: 100%;
    }
}

.form__wrap.form__wrap--textarea .form__label {
    @include mq(md){
    }
}

.form__label span {
    background-color: #C94800;
    color: $white;
    font-size: 12px;
    font-style: normal;
    font-weight: $regular;
    letter-spacing: 4.8px;
    line-height: normal;
    margin-left: 8px;
    padding: 3px 11px 3px 12px;
    display: inline-block;
    text-indent: 0.3em;
}



.form__input,
.form__select,
.form__radio,
.form__checkbox,
.form__textarea {
    margin-top: 14px;
    @include mq(md){
        margin-top: 0;
    }
}

.form__radio {
    margin-top: 18px;
    @include mq(md){
        margin-top: 0;
    }
}

.form__select {
    margin-top: 15px;
    @include mq(md){
        margin-top: 0;
    }
}

.form__input,
.form__textarea,
.form__select {
    flex-grow: 1;
}

.form__privacy {
    margin-top: 40px;
    text-align: center;
  
    @include mq("md") {
      margin-top: 77px;
    }
  }
  
  .form__privacy input + span {
    cursor: pointer;
    display: inline-block;
    font-size: rem(14);
    padding: 0 0 0 rem(31);
  
    @include mq("md") {
      padding: 0 0 0 rem(36);
    }
  }
  
  .form__privacy input + span::before {
    width: rem(22);
    height: rem(22);
  }






.form__submit {
    margin-top: rem(26);
    text-align: center;

    @include mq("md") {
        margin-top: rem(40);
    }
}