@use "global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 41, 54, 0.68);
    height: 80px;//50px
    z-index: 9999;
    transition: background-color 0.5s;

    @include mq("md") {
        height: 90px;//50px
    }
    
    }
    

.header__inner {
    //p-header（親要素）の高さを継承する
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9px 0 11px;//0 16px 0 22px

    @include mq(md) {
    	padding-left: rem(40);//32px
        padding-right: rem(20);
    }
}