@use "global" as *;

.information {
    background-color: $green3;
}

.information__inner {

}

.information__title {

}


.information__content {

    @include mq("md") {
        display: flex;
    }
}

.information__img {
    margin-top: 24px;

    @include mq("md") {
        margin-top: 40px;
        width: 50%;

    }
}

.information__img-img {
    max-width: 540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.information__course {
    margin-top: 26px;

    @include mq("md") {
        width: 46%;
        margin-left: 47px;
        margin-top: 101px;
    }
}

.information__course-title {
    color: $green1;
    font-size: 20px;
    font-style: normal;
    font-weight: $bold;
    line-height: 24px; /* 120% */

    @include mq("md") {
        font-size: 24px;
    }
}

hr.information__line {
    border-color: $green2;
    margin: 3px 0;

    @include mq("md") {
        margin: 7px 0;
    }
}

.information__course-text {
    margin-top: 6px;

    color: $green1;
    font-size: 16px;
    font-style: normal;
    font-weight: $regular;
    line-height: 24px; /* 150% */

    @include mq("md") {
        max-width: 492px;
        width: 100%;
    }
}

.information__btn {
    margin-top: 40px;
    text-align: center;
}








