@use "global" as *;

.logo {
    width: rem(102);
    position: relative;
    z-index: 9999;

    @include mq(md) {
        width: rem(133);
        // height: rem(50);
    }
}

.footer__logo {
    width: rem(120);
    position: relative;
    // z-index: 9999;
    // margin: auto;

    @include mq(md) {
        width: rem(200);
        margin: 0;
    }
}