@use "global" as *;

.logo {
    width: rem(109);
    margin-top: rem(7);
    position: relative;
    z-index: 9999;
    display: flex;

    @include mq(md) {
        width: rem(141);
        margin-top: rem(8);
    }
}

.footer__logo {
    width: rem(120);
    position: relative;

    @include mq(md) {
        width: rem(200);
        margin: 0;
    }
}