@use "global" as *;

.pc-nav {
    height: inherit;
    display: none;

    @include mq(md) {
    	display: block;
    }
}

.pc-nav__items {
    height: inherit;
    display: flex;
    align-items: center;
}

.pc-nav__item {
    height: inherit;
}

.pc-nav__item a {
    height: inherit;
    color: #fff;
    //aタグの全体のクリック領域を確保
    display: grid;
    place-items:center;
    padding: 0 0.9375rem;//0 15px
    font-size: 1rem;//16px
    letter-spacing: 0.125rem;//2px
    position: relative;
}

.pc-nav__item a::after {
        content: "";
        position: absolute;
        bottom: 0.625rem;//10px
        left: auto;
        right: auto;
        width: 4.375rem;//70px
        height: 0.0625rem;//1px
        background: transparent;
        transition: all 0.3s ease 0s;
      }
.pc-nav__item a:hover::after,
.pc-nav__item a.is-active::after  {
        background: #FFEA2E;
    }


.pc-nav__item.pc-nav__item--white {
    margin-left: 1rem;
    
}

.pc-nav__item.pc-nav__item--white a {
    background-color: #fff;
    color: #333;
    padding: 0 2rem;//0 32px
    // transition: 1.0s ;
    transition: all 0.6s ease 0s;
}

//修正箇所
.pc-nav__item.pc-nav__item--white :hover {
    background-color: #333;
    color: #fff;

}