@use "global" as *;

.pc-nav {
    height: inherit;
    display: none;

    @include mq(md) {
    	display: block;
    }
}

.pc-nav__items {
    height: inherit;
    display: flex;
    align-items: center;
}

.pc-nav__item {
    height: inherit;
}

.pc-nav__item a {
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    //aタグの全体のクリック領域を確保
    // display: grid;
    // place-items:center;
    // letter-spacing: 2px;//2px
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #FFF;
    // text-align: center;
    font-family: $english-family;
    font-size: 18px;//16px
    font-style: normal;
    font-weight: $regular;
    line-height: 18px; /* 100% */
}

.pc-nav__item:last-child a{
    padding-right: 20px;
}


.pc-nav__item span {
    margin-top: 4px;
    display: block;
    text-align: center;
    font-family:$base-font-family;
    font-size: 10px;
    font-style: normal;
    font-weight: $regular;
    line-height: 15px; /* 150% */


}

.pc-nav__item a::after {
        content: "";
        position: absolute;
        bottom: 0.625rem;//10px
        left: auto;
        right: auto;
        width: 4.375rem;//70px
        height: 0.0625rem;//1px
        background: transparent;
        transition: all 0.3s ease 0s;
      }
.pc-nav__item a:hover::after,
.pc-nav__item a.is-active::after  {
        background: #FFEA2E;
    }


.pc-nav__item.pc-nav__item--white {
    margin-left: 1rem;
    
}

.pc-nav__item.pc-nav__item--white a {
    background-color: #fff;
    color: #333;
    padding: 0 2rem;//0 32px
    // transition: 1.0s ;
    transition: all 0.6s ease 0s;
}

//修正箇所
.pc-nav__item.pc-nav__item--white :hover {
    background-color: #333;
    color: #fff;

}