@use "global" as *;

.price {
    background-color: $green3;
    position: relative;

}

.top-price {

}

.price__head {

}


.price__title {
    color: $green1;
    font-size: 16px;
    font-style: normal;
    font-weight: $bold;
    line-height: 24px; /* 150% */
}


.price__imgTop {
    margin-top: 28px;

    @include mq("md") {
        display: none;
    }
}

.price__content {

    @include mq("md") {
        display: flex;
        margin-top: 40px;
    }
}

.price__items {
    margin-top: 40px;
    
    @include mq("md") {
        margin-top: 0px;
        width: 50%;
    }
}



.price__item:not(:first-child) {
    margin-top: 39px;
}

hr.price__line {
    border-color: $green2;
    margin: 3px 0px 0px 0px;
}

.price__course {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.price__course.price__course {
    margin-top: 8px;
}

.price__name {
    color: $green1;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-style: normal;
    font-weight: $regular;
    line-height: 24px; /* 171.429% */

    @include mq("md") {
        font-size: 16px;
    }
}

.price__cost {
    color: $green1;
    font-size: 14px;
    font-style: normal;
    font-weight: $regular;
    line-height: 24px; /* 171.429% */

    @include mq("md") {
        font-size: 16px;
    }
}

.price__imageCenter {
    display: none;
    @include mq("md") {
        display: block;
        width: 50%;
        margin-left: 93px;
    }
}

.price__btn {
    margin-top: 40px;
    text-align: center;
    
    @include mq("md") {
      margin-top: 80px;
    }
}

.price__imageBottom {
    display: none;
    @include mq("md") {
        display: block;
        content: "";
        position: absolute;
        bottom: -3.4%;
        left: 7%;
        transform: translateY(-50%);
        width: 432px;
        height: auto;
    }
}