@use "global" as *;

.service {
    overflow-x: hidden;
}

.service__inner {
    margin: auto;
    padding: 0 20px 0 15px;
    max-width: 600px;
    width: 100%;
    @include mq(md){
        padding: 0 25px 0 25px;
        max-width: 1200px;
    }
}

.service__swiper {
    margin-right: calc(50% - 50vw);
    width: 100vw;
}

.service__btn {
    text-align: center;
}