@use "global" as *;

.service-swiper {
    margin-top: 28px;

    @include mq("md") {
        margin-top: 40px;
        padding-left: 34px;
    }
}

.service-swiper__button-wrap {
    margin-top: 40px;//41px
    display: flex;
    justify-content: left;

    @include mq("md") {
        margin-top: 2px;
    }
}

.service-swiper__button-wrap .swiper-button-prev,
.service-swiper__button-wrap .swiper-button-next {
    position: relative;
    width: rem(100);
    height: rem(100);
    background-color: #fff9ee;
    border-radius: 50%;
}

.service-swiper__button-wrap .swiper-button-next {
    margin-left: rem(100);
}

.service-swiper__button-wrap .swiper-button-prev::before,
.service-swiper__button-wrap .swiper-button-next::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(13);
    height: rem(13);
    border-top: rem(3) solid #333;
    border-right: rem(3) solid #333;
}

.service-swiper__button-wrap .swiper-button-prev::before {
    transform: translate(-50%, -50%) rotate(-135deg);
}

.service-swiper__button-wrap .swiper-button-next::before {
    transform: translate(-50%, -50%) rotate(45deg);
}