@use "global" as *;

.service-card {

}


.service-card a {
    // padding: rem(15) rem(15) rem(35);
    height: 100%;
    display: block;
    // background-color: #fff9ee;

    // width: 280px;
    // height: 366px;
    flex-shrink: 0;
    background: var(--White, #FFF);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    
}

.service-card a:hover {
    opacity: 1;
}

.service-card__img {
    width: 100%;
    overflow: hidden;
}

.service-card__img img {
    width: 100%;
    aspect-ratio: 300/186;
    object-fit: cover;
    transition: .6s;
}

.service-card:hover .service-card__img img {
    transform: scale(1.2);
}

.service-card__body {
    padding: 16px 16px 24px 16px;

    @include mq("md") {
        padding: 24px 16px 40px 16px;
    }
}

.service-card__tag {
    display: inline-flex;
    padding: 4px 12px;
    align-items: flex-start;
    gap: 8px;
    border: 1px solid $green2;
    color: $green2;
    font-size: 12px;
    font-style: normal;
    font-weight: $regular;
    line-height: 22px; /* 183.333% */

    @include mq(md){
        padding: 6px 16px;
    }
}

.service-card__title {
    color: $green1;
    font-size: 16px;
    font-style: normal;
    font-weight: $medium;
    line-height: 24px; /* 150% */

    margin-top: 4px;

    @include mq("md") {
        margin-top: 10px;
    }
}



hr.service-card__line {
    border-color: $green2;
}

.service-card__text {
    color: $green1;
    font-size: 14px;
    font-style: normal;
    font-weight: $regular;
    line-height: 24px; /* 171.429% */

    text-align: center;

    @include mq(md){
       font-size: 16px;
       margin-top: 16px;
    }
}

.service-card__price {
    display: flex;

}

.service-card__price-before {
    text-decoration: line-through;
    text-decoration-color: $red;
    text-decoration-thickness: 3px;
    width: 50%;
    text-align: center;

    color: $green1;
    font-family:$mv-english-family;
    font-size: 20px;
    font-style: normal;
    font-weight: $bold;
    line-height: 20px; /* 100% */

    margin-top: 18px;

    @include mq(md){
        font-size: 24px;
        line-height: 24px; /* 100% */
        margin-top: 22px;
    }
}

.service-card__price-discount {
    color: $green2;
    font-family: $mv-english-family;
    font-size: 32px;
    font-style: normal;
    font-weight: $bold;
    line-height: 32px; /* 100% */

    margin-top: 8px;

    @include mq(md){
        font-size: 40px;
        line-height: 40px; /* 100% */
    }
}