@use "global" as *;

.service {
    overflow-x: hidden;
}

.service__inner {
    margin: auto;
    padding: 0 rem(20);
    max-width: rem(600);
    width: 100%;
    @include mq(md){
        padding: 0 rem(25);
        max-width: rem(1200);
    }
}

.service__swiper {
    margin-right: calc(50% - 50vw);
    width: 100vw;
}