@use "global" as *;

.sidebar {
    margin-top: 87px;

    @include mq("md") {
        margin-top: 81px;
    }

}

.sidebar__inner {
  padding-right: 25px;
  padding-left: 25px;

  @include mq("md") {
    padding-right: inherit;
    padding-left: inherit;
  }
}

.sidebar__popular {

}

.sidebar__title {
    padding: 8px 8px 8px 74px;
    border-left: 7px solid $green2;

    color: $green1;
    font-size: rem(24);
    font-style: normal;
    font-weight: $regular;
    line-height: normal;
    position: relative;
}

.sidebar__title::before {
    content: "";
    position: absolute;
    top: -1%;
    left: 5.5%;
    width: 50px;
    height: 50px;
    background-image: url(../images/common/icon-blog.svg);
    z-index: -1;
}
.sidebar__cards {
    margin-top: 22px;

    @include mq("md") {
      margin-top: 22px;
    }
  }

  .sidebar__review {
    margin-top: 78px;
    
    @include mq("md") {
      margin-top: 80px;
    }
 
  }

  .sidebar__campaign {
    margin-top: 88px;

    @include mq("md") {
      margin-top: 87px;
    }
 
  }

  .sidebar__archive {
    margin-top: 85px;

    @include mq("md") {
      margin-top: 86px;
    }
 
  }

  .sidebar__review-cardBtn {
    text-align: center;
    margin-top: 45px;

    @include mq("md") {
      margin-top: 44px;
    }
  }

  .sidebar__campaign-cardBtn {
    text-align: center;
    margin-top: 45px;

    @include mq("md") {
      margin-top: 40px;
    }
  }