@use "global" as *;


// ボタン位置の調整
.campaign-swiper__button-wrap {
    justify-content: right;

    @include mq("md") {
      height: 6.5rem;
    }

}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: rem(275);
    top: rem(-632);

    @include mq("md") {
      position: relative;
      top: inherit;
      left: inherit;
      right: rem(68);
      // margin-left: 4.9rem;
    }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: auto;
    left: rem(-315);
    top: rem(-633);

    @include mq("md") {
      position: relative;
      top: inherit;
      left: inherit;
      right: inherit;
    }
}


// 既定のやじるしを消す
.campaign-swiper__button-wrap .swiper-button-prev::before, .campaign-swiper__button-wrap .swiper-button-next::before {
    display: none;
}

// 円のデザイン調整
.campaign-swiper__button-wrap .swiper-button-prev, .campaign-swiper__button-wrap .swiper-button-next {
    background-color: $white;
}

/* 幅・高さを指定 */
.swiper-button-prev,
.swiper-button-next {
  height: rem(50);
  width: rem(50);
}
 
/* 矢印を消す、画像に変更 */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  height: rem(80);
  width: rem(80);
  margin: auto;
}
 
/* 前に戻る画像パス */
.swiper-button-prev:after {
  background-image: url(../images/common/swiper-arrow-left.png);
}
/* 次に進む画像パス */
.swiper-button-next:after {
  background-image: url(../images/common/swiper-arrow-right.png);
}



.swiper-slide {
  padding-bottom: rem(10);
  // height: auto;
  height: 100% !important;

  @include mq("md") {
    padding-bottom: rem(10);
  }

}

