@use "global" as *;

.voice{


  @include mq("md") {
    position: relative;
  }


  }
  
  .voice__inner{

  }
  
  
  .voice__title{

}
  
  
  .voice__voice-cards{
    display: grid;
    margin-top: rem(41);
  
    grid-template-columns: repeat(auto-fit,minmax(rem(301),1fr));
    column-gap: rem(35);
    row-gap: rem(39);
  
    @include mq("md") {
      margin-top: rem(30);
      row-gap: rem(30);
      column-gap: rem(39);
  }
  }
  
  .voice__voice-card{
    
  }
  

  .voice__btn {
    margin-top: rem(40);
    text-align: center;
    
    @include mq("md") {
      margin-top: rem(79);
    }
}

.voice__imgTop {
  display: none;

  @include mq("md") {
    display: block;
    content: "";
    position: absolute;
    top: 52%;
    left: 7%;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
  }


}
.voice__imgBttom {
  display: none;

  @include mq("md") {
    display: block;
    content: "";
    position: absolute;
    top: 124%;
    right: 12.5%;
    transform: translateY(-50%);
    width: auto;
    height: 100%;
  }


}